<%- include("partials/header.ejs") %>
<body>
	<%- include("partials/navbar.ejs") %>
	<div class="container">
		<br>
		<a href="/" class="btn btn-light"><b>Answer something...</b></a>
		<hr>
		<div class="card" id="form-ask">
			<div class="card-header">
				<b>Faça uma pergunta...</b>
			</div>
			<div class="card-body">
				<form method="POST" action="/save-ask">
					<label>Título</label>
					<input type="text" class="form-control" name="title" placeholder="Título"> <br>
					<label>Descrição</label>
					<textarea class="form-control" placeholder="Descreva sua pergunta" name="describe"></textarea><br>
					<button class="btn btn-dark">ASK!</button>
				</form>
			</div>	
		</div>
	</div>
</body>
<%- include("partials/footer.ejs") %>